---
layout: layouts/home.njk
title: Legal Concepts
eleventyNavigation:
  key: Concepts
  order: 2
---

<h1>Legal Concepts</h1>

{% set concepts = collections['legal-concept'] %}
{% if concepts and concepts.length %}
  <ul class="postlist">
  {%- for concept in concepts | reverse -%}
    <li class="postlist-item">
      <a href="{{ concept.url | url }}" class="postlist-link">{{ concept.data.title }}</a>
    </li>
  {%- endfor -%}
  </ul>
{% else %}
  <p>No legal concepts found.</p>
{% endif %}
