---
layout: layouts/home.njk
---

<p>
  Welcome to my digital garden. This is a space where I explore various topics, primarily focusing on legal concepts.
</p>
<p>
  Feel free to browse the <a href="/page-list/">page-list</a> or check out the latest <a href="/posts/">posts</a>.
</p>
