---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe
 }}

<h2>Recent Posts</h2>
{% set recent_posts = collections.post | reverse | slice(0, 3) %}
{% if recent_posts and recent_posts.length %}
<ol class="postlist">
{% for post in recent_posts %}
  <li class="postlist-item">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
{% endfor %}
</ol>
{% else %}
  <p>No posts found.</p>
{% endif %}

